/*------------------------------------------------
    Welcome Page
-------------------------------------------------*/

.author-image-large {
    position: absolute;
    right: 150px;
    top: 100px;
    margin-top: 10px;

    img {
        @include calc(height, "80vh - 4px");
    }
}

@font-face{
    font-family: "chasing";
    font-size: 40px;
    src: url("../fonts/Chasing.ttf") format("truetype");
  }

  @font-face{
    font-family: "BeautyDemo";
    font-size: 40px;
    src: url("../fonts/BeautyDemo.ttf") format("truetype");
  }
  

  #text_font{
    font-family: "chasing";
    color: cornsilk;
  }

  #text_BeautyDemo_font{
    font-family: "BeautyDemo";
    color: #F4D35E;
  }


  #img_width_exp{
      width: 50%;
      height: 50%;
      margin-left: 20%;
      margin-top: 15%;
      margin-bottom: 15%;
    
  }

  #img_width_edu{
    width: 100%;
}