<nav class="page-nav clear">
  <div class="container">
    <div id="text_font" class="flex flex-middle space-between">
      <span id="text_font" class="prev-page"><a href="{{ .Params.Prev_page | absURL }}" class="link">&larr; Prev Page</a></span>
      <span id="text_BeautyDemo_font" class="copyright hidden-xs">{{ site.Params.copyright | markdownify }}</span>
      <span id="text_font" class="next-page"><a href="{{ .Params.Next_page | absURL }}" class="link">Next Page &rarr;</a></span>
    </div>
  </div>
</nav>