{{ define "main" }}

<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-about relative">
      <!-- .close -->
      <a href="{{ site.BaseURL }}" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            {{ partial "page-header.html" . }}
          </div>

          <div class="col-xs-12 col-md-6">
           <div class="about-author">
              <img id='img_width' src="{{ .Params.Image | absURL }}" alt="author">
            </div><!-- /.about-author -->
          </div> <!-- /.col -->

          <div class="col-xs-12 col-md-6">
            <div class="section-title clear">
              <h3 id="text_font">Skills</h3>
            </div>
            <div class="skill-wrapper">
              {{ range .Params.Skills }}
              <div class="progress clear">
                <div id="text_font" class="skill-name">{{ .name }}</div>
                <div class="skill-bar">
                  <div class="bar"></div>
                </div>
                <div id="text_font" class="skill-lavel" data-skill-value="{{ .percentage }}"></div>
              </div>
              {{ end }}
            </div> <!-- /.skill-wrapper -->
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
      {{ partial "page-nav.html" . }}
      <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->

{{ end }}