{{ define "main" }}

<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-home relative">
      <div class="stars"></div>
      <div class="stars2"></div>
      <div class="stars3"></div>
      <!-- .close -->
      <a href="{{ site.BaseURL }}" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            {{ partial "page-header.html" . }}
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="about-author">
               <img id='img_width_edu' src="{{ .Params.Image | absURL }}" alt="author">
            </div><!-- /.about-author -->
          </div> <!-- /.col -->
                    
          {{ with .Params.Experiences }}
          <div class="col-xs-12 col-sm-6">
            <div class="history-block">
              <div class="section-title light clear">
                <h3 id="text_font" >{{ .title | markdownify }}</h3>
              </div>
              <!-- /.section-title -->
              <div class="history-scroller">
                {{ range .experience }}
                <div class="history-item">
                  <div class="history-icon">
                    <img class="circular_image" src="{{ .logo_path  | absURL  }}"/>
                  </div>
                  <div class="history-text">
                    <p id="text_font" style="margin-bottom: -4px;">{{ .name  | markdownify}}</p>
                    <span><p id="text_font" style="font-size:15px;margin-bottom: -2px;">{{ .position | markdownify}}</p> </span>
                    <p style="font-size:13px; margin-bottom: -4px;">{{.duration}}</p>
                    <p id="text_font" >{{ .description | markdownify }}</p>
                  </div>
                </div>
                {{ end }}
              </div>
            </div> <!-- /.history-block -->
          </div> <!-- /.col -->
          {{ end }}
        </div> <!--/.row-->
      </div> <!-- /.container -->
      {{ partial "page-nav.html" . }}
    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->

{{ end }}