.dark {
	background-color: radial-gradient(ellipse at bottom, #083D77 0%, #090A0F 100%);

	// .page-home .overlay {
	// 	background-color: rgba(#0e1118, 0.97);
	// }

	.page-title {
		h2 {
			color: #ffffff;
		}

		.title-bg {
			color: rgba(#F4D35E, 0.12);
		}
	}

	.section-title h3::before {
		background-color: #fff;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.about-author .author-desc p {
		color: #fff;
	}

	.service-hex {
		.st0 {
			fill: transparent;
		}

		&:hover {
			.st0 {
				fill: #fff;
			}
		}
	}

	.testimonials .text,
	.btn-border {
		border-color: #1e2530;
	}
}