{{ define "main" }}

<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-home relative">
      <div class="stars"></div>
      <div class="stars2"></div>
      <div class="stars3"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <span id="logo-name"> Rushabh Patel</span>
            <div class="page-title home text-center">
              <!-- <img src="{{site.Params.logo | absURL }}" alt="{{ site.Title }}"> -->
              <p>{{site.Params.homepage_description | markdownify }}</p>
            </div>
            {{ range site.Menus.main }}
            <div class="example">
              <div class="hexagon -big"><span class="text"><a href="welcome">Welcome</a></span></div>
              <div class="hexagon -big"><span class="text"><a href="about">About</a></span></div>
              <div class="hexagon -normal"><span class="text"><a href="experience">Experience</a></span></div>
              <div class="hexagon -normal"><span class="text"><a href="education">Education</a></span></div>
              <div class="hexagon -normal"><span class="text"><a href="testimonial">Testimonial</a></span></div>
              <div class="hexagon -small" style="display: none; visibility: hidden;"></div>
              <div class="hexagon -normal"><span class="text"><a href="contact">Contact</a></span></div>
            {{ end }}
            </div>
            </div> <!-- /.hexagon-menu -->
          </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
    <!-- <span id="index_signature" class="copyright">{{ site.Params.copyright | markdownify }}</span> -->
  </div> <!-- /.pt-table -->
  
</main> <!-- /.site-wrapper -->
{{ end }}